/* ~ Header ~ */
.cabecalhoPrincipal .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalhoPrincipal-nav {
    display: flex;
}

/* ~ Footer ~ */
.rodapePrincipal-navMap-list{
    display: flex;
<<<<<<< HEAD
    /* flex-direction: column;
    flex-wrap: wrap; */
    flex-flow: column wrap; /* faz o mesmo que as duas linhas de cima */
=======
    flex-direction: column;
    flex-wrap: wrap;
>>>>>>> master
    height: 250px;
}

.rodapePrincipal-patrocinadores .container {
    display: flex;
    justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    margin-right: 5%;
}
.rodapePrincipal-contatoForm {
    width: 25%
}

.rodapePrincipal-contatoForm-fieldset {
    display: flex;
}